@font-face {
	font-family: 'HattoriHanzoLight';
	src: url('../fonts/Hattori_Hanzo-webfont.eot');
	src: url('../fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo-webfont.svg#HattoriHanzoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IstokWebRegular';
	src: url('../fonts/IstokWeb-Regular-webfont.eot');
	src: url('../fonts/IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/IstokWeb-Regular-webfont.woff') format('woff'), url('../fonts/IstokWeb-Regular-webfont.ttf') format('truetype'), url('../fonts/IstokWeb-Regular-webfont.svg#IstokWebRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.overview-title h1 {
	font-size: 28px;
	margin-bottom: 15px;
}
.overview-graph {
	background-color: #3db658;
	position: relative;
	cursor: pointer;
	height: 400px;
	width: 100%;
}
.overview-graph .b-overview-title {
	padding: 10px 20px;
}
.overview-graph .b-month, .overview-graph .b-days-left, .overview-graph .spent-label {
	text-transform: uppercase;
	font-family: "IstokWebRegular", arial, sans-serif;
}
.overview-graph .b-month {
	font-size: 20px;
}
.overview-graph .b-month, .overview-graph .b-days-left, .overview-graph .amount {
	color: white;
}
.overview-graph .b-days-left, .overview-graph .spent-label {
	font-size: 16px;
}
.overview-graph .amount {
	font-size: 140px;
	line-height: 130px;
	padding: 0 20px;
}
.overview-graph .amount, .overview-graph .spent-number {
	font-family: "HattoriHanzoLight", arial, sans-serif;
}
.b-progress {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.overview-graph .b-red {
	background: #ed7777;
	opacity: 1;
	filter: alpha(opacity=100);
}
.overview-graph .b-progress-bar {
	height: 35px;
}
.overview-graph .overview-info {
	max-width: 96%;
	max-width: -webkit-calc(100% - 40px);
	padding: 0 20px;
}
.b-spent:first-of-type {
	margin-right: 20px;
	text-align: left;
	float: left;
}
.b-spent {
	display: inline-block;
}
.overview-graph .spent-number {
	font-size: 85px;
	line-height: 85px;
}
.b-spent:last-of-type {
	text-align: left;
	float: right;
}
.day-progress {
	height: 35px;
	background-color: #282828;
	width: 8px;
	position: absolute;
	bottom: 0;
	margin-left: -28px;
}
#networth {
	background-color: #e7e7e7;
	padding-bottom: 20px;
	margin-bottom: 60px;
	float: left;
	width: 100%;
}
#networth .balance {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}
.mb_10 {
	margin-bottom: 10px;
}
.balance dl {
	margin: 0;
}
.balance-bar > div {
	display: inline-block;
	width: 100%;
}
.balance dt {
	text-align: left;
}
.balance dd, .balance dt {
	line-height: 40px;
	font-weight: normal;
}
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dt a {
	text-align: left;
	color: #000;
	text-decoration: none;
	float: left;
}
.balance dd, .balance-total {
	text-align: right;
	font-family: "HattoriHanzoLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dl-horizontal dd {
	margin-left: 180px;
}
.red {
	color: #e03131;
}
.balance-total {
	font-size: 3.125em;
	padding-top: 20px;
	line-height: 1;
	margin-bottom: 0;
	font-family: "HattoriHanzoLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.balance-bar {
	margin-top: 23px;
}
.green-bar {
	background-color: #69c37d;
}
.bar {
	height: 30px;
	display: block;
	float: left;
	margin-right: 3px;
}
.red-bar {
	background-color: #ed7777;
}
.networth-note {
	margin-top: 30px;
	font-size: .8em;
}
.overview-index section {
	margin-bottom: 60px;
}
.chart {
	margin-bottom: 20px;
	background: #ebebec;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	min-height: 230px;
	position: relative;
}
.card-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 100;
}
.card-nav a {
	display: block;
}
.card-nav i.active {
	color: #3db658;
}
.card-nav i {
	display: block;
	background: #282828;
	color: rgba(255, 255, 255, 0.95);
	font-size: 13px;
	line-height: 34px;
	width: 30px;
	height: 30px;
	margin-bottom: 1px;
	cursor: pointer;
}
.chart .pull-left {
	min-height: 124px;
}
.chart h2 {
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 8px;
	border-left: 5px solid #555555;
}
.chart h2, .chart p {
	margin: 0 0 0 15px;
	padding: 0 13px;
}
.chart .amount {
	font-size: 26px;
}
.amount {
	font-family: "HattoriHanzoLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
}
.chart .average {
	font-size: 14px;
}
#goals {
	margin-bottom: 60px;
}
.goal:hover {
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.5), 0 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.5), 0 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0 0px 2px rgba(0,0,0,0.5), 0 0px 10px rgba(0,0,0,0.2);
}
.goal {
	margin-bottom: 20px;
	position: relative;
	height: 230px;
	background: black;
	cursor: pointer;
	overflow: hidden;
}
.goal-img {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: block;
	max-width: 100%;
}
.goal p {
	font-size: 1.1em;
	font-weight: 300;
	margin-bottom: 0;
}
.goal h2, .goal p {
	position: relative;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}
.goal-progress {
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
.goal-progress p {
	margin: 0 10px 0px 0;
	font-size: 1.5em;
	font-family: "HattoriHanzoLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.goal-progress .bar {
	float: right;
	margin: 0;
}
.bar-current {
	width: 5px;
	height: 30px;
	background: white;
	position: absolute;
	bottom: 0;
}
#charts .col-md-6 {
	width: 49%;
}
#charts .col-md-6:last-child {
	margin-left: 2%;
}
#goals .col-md-6 {
	width: 49%;
}
#goals .col-md-6:last-child {
	margin-left: 2%;
}
.footer {
	margin-top: 50px;
	border-top: 1px solid #ccc;
	padding-bottom: 20px;
}
.powered {
	text-align: right;
}
.powered a {
	display: inline-block;
}
.footer .nav {
	margin: 10px 0;
}
.copyright {
	margin: 12px 0 0 0;
}
.transaction-table {
	position: relative;
}
#transactions {
	font-size: 12px;
}
#transactions td {
	vertical-align: middle;
	margin: 0 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.1;
}
#transactions th {
	text-transform: uppercase;
	font-size: 14px;
	color: #555555;
}
#transactions th:last-child {
	text-align: right;
}
#transactions th:first-child, #transactions tr td:first-child {
	padding: 0 0 0 3px;
	vertical-align: middle;
}
#transactions tr {
	line-height: default;
}
#transactions tr:hover, #transactions .active {
	background: #fefcf0;
}
#transactions .transaction-date {
	width: 50px;
	padding: 10px 0;
}
#transactions .transaction-date > div {
	width: 30px;
	height: 25px;
	display: block;
	position: relative;
}
#transactions .month {
	text-transform: uppercase;
	font-size: 10px;/* Rotate from top left corner (not default) */
	-webkit-transform-origin: 50 50;
	-moz-transform-origin: 50 50;
	-ms-transform-origin: 50 50;
	-o-transform-origin: 50 50;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: block;
	position: absolute;
	padding-right: 3px;
	top: 4px;
	left: 0;
}
#transactions .day-num {
	position: absolute;
	top: 3px;
	left: 20px;
}
#transactions .day {
	font-size: 0.571em;
	text-transform: uppercase;
	position: absolute;
	top: 18px;
	left: 20px;
}
#transactions .desc {
	line-height: 1.2;
}
#transactions .desc span {
	font-size: 0.813em;
}
#transactions .amount {
	font-size: 1.25em;
	text-align: right;
	white-space: nowrap;
}
#transactions .cat {
	margin-bottom: 5px;
}
.cat {
	color: white;
	font-size: 14px;
	background: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 4px 4px;
	line-height: 14px;
	margin-right: 1px;
	display: inline-block;
}
.cat-pending {
	color: white;
	font-size: 14px;
	background: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 4px 4px;
	line-height: 14px;
	margin-right: 1px;
	display: inline-block;
}
/* Category colours */
.cat-1 {
	background-color: #1b81e9;
}
.cat-2 {
	background-color: #39b658;
}
.cat-4 {
	background-color: #c4d142;
}
.cat-6 {
	background-color: #ffa234;
}
.cat-7 {
	background-color: #fc62c4;
}
.cat-8 {
	background-color: #9578ff;
}
.cat-10 {
	background-color: #24caca;
}
.cat-11 {
	background-color: #f64178;
}
.cat-12 {
	background-color: #c460e5;
}
.cat-13 {
	background-color: #5b5b5b;
}
.cat-14 {
	background-color: #1ab697;
}
.cat-15 {
	background-color: #e5a743;
}
.cat-5 {
	background-color: #ffc322;
}
.cat-3 {
	background-color: #53cbae;
}
.cat-9 {
	background-color: #3d9dc4;
}
.chart .pull-left {
	width: 50%;
}
.chart .amount {
	font-size: 22px;
}
/*===accounts===*/

#accounts {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 9px;
}
#accounts li.active a, #accounts a:hover, #linked-subaccounts li.active a, #linked-subaccounts a:hover, #other-subaccounts li.active a, #other-subaccounts a:hover {
	background: #282828;
	color: white;
}
#accounts a, #linked-subaccounts a, #other-subaccounts a {
	line-height: 1;
	background: #e7e7e7;
	padding: 14px 20px 12px;
	margin: 0 10px 10px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.label {
	color: #282828;
	font-size: 0.688em;
	padding: 2px 4px 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #dadada;
}
.account-status {
	margin: 0;
	color: white;
	height: 185px;
	width: auto;
	padding: 20px;
}
.account-status {
	margin: 0;
	color: white;
	background-image: url('../images/bg.png');
	height: 185px;
	padding: 20px;
}
.account-details, .account-status {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.linked-account .card {
	position: relative;
	min-height: 310px;
	margin-bottom: 20px;
}
.linked-account .card:hover .card-nav {
	display: block;
}
.account-container {
	position: relative;
}
.current-balance {
	margin: 30px 0 0;
	padding: 25px 20px 5px;
	background: #efefef;
	width: auto;
}
.current-balance p:first-child {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
	top: -3px;
}
.current-balance p:last-child {
	font-size: 20px;
}
.amount {
	font-family: "HattoriHanzoLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
}
.account-status a {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
.card-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 15px;
	display: none;
	z-index: 100;
}
.card-nav a {
	display: block;
}
.linked-account .card .card-nav i {
	display: block;
	background: #282828;
	color: rgba(255, 255, 255, 0.95);
	font-size: 13px;
	line-height: 34px;
	width: 30px;
	height: 30px;
	margin-bottom: 1px;
	cursor: pointer;
	text-align: center;
}
.card-add {
	background-color: #e7e7e7;
	min-height: 310px;
	float: left;
	width: 100%;
}
.card-add span {
	background-color: #282828;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 35px;
	width: 70px;
	margin-left: -35px;
	margin-top: -12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 39px;
	font-size: 25px;
}
.card-add:hover {
	background: #FFF;
	border: 1px solid lightgray;
}
.card-add:hover span {
	background-color: #3db658
}
#linked-subaccounts {
	margin-bottom: 20px;
}
/*===Login===*/

.form-shift-down {
	padding: 40px 0 20px;
	text-align: center;
}
.validation-summary-valid {
	display: none;
}
.form-horizontal .control-group {
	margin-bottom: 28px;
}
.form-horizontal .control-label {
	float: left;
	width: 45%;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .controls {
	margin-left: 47%;
}
.form-horizontal .form-actions {
	padding-left: 47%;
}
.btn-green {
	line-height: 1;
	background: #3db658;
	color: #fff;
	padding: 14px 20px 12px;
	margin: 0 10px 10px 0;
	text-shadow: none;
}
#form-authentication-login input[type="email"], #form-authentication-login input[type="password"] {
	padding: 2px 8px;
	max-width: 100%;
}
#form-authentication-login input[type="checkbox"] {
	margin-top: 9px;
}
.channel-partner a:hover {
	color: #3db658;
}
/*===Transactions===*/

#mega-menu {
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
	height: 42px;
	position: relative;
}
#mega-menu li {
	float: left;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#mega-menu a {
	float: left;
	border: 1px solid #dadada;
	padding: 10px 15px;
	line-height: 1;
	background: #e7e7e7;
	color: #282828;
	display: block;
	margin-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#mega-menu li:hover>a {
	background: #282828;
	color: #fff;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	text-decoration: none;
	border: 1px solid #282828;
}
.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 0.846em;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #e7e7e7;
}
.label {
	color: #282828;
	font-size: 0.688em;
	padding: 2px 4px 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #dadada;
}
#mega-menu .icon-chevron-down {
	font-size: 12px;
}
.icon-chevron-down:before {
	content: "\f078";
}
#mega-menu .all-accounts {
	padding: 20px;
}
#mega-menu li>div {
	display: none;
	height: 0;
	position: absolute;
	float: left;
	background: #282828;
	top: 38px;
	width: 100%;
	left: 0;
	z-index: 10000;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mega-menu li:hover>div, #mega-menu li .filter-out {
	display: block;
	height: auto;
}
#mega-menu ul {
	margin: 0;
	padding: 0;
}
.search {
	display: inline-block;
	margin: 0 0 0 7px;
	vertical-align: middle;
}
.search input[type="text"] {
	padding: 7px 15px;
	float: left;
}
.search input, .search button {
	margin: 0;
	position: relative;
}
input.col-md-5, textarea.col-md-5, .uneditable-input.col-md-5 {
	width: 366px;
}
.search button, .search-button, .reset-button {
	line-height: 28px;
	margin: 4px 4px 0 -55px;
	padding: 0 15px;
	border: 0;
	background: #3db658;
	border: 1px solid #309046;
	display: block;
	float: right;
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,.35);
	box-shadow: 0 0px 2px rgba(0,0,0,.35);
}
.search button span {
	color: #fff;
}
#mega-menu .all-accounts li {
	display: list-item;
	float: none;
}
#mega-menu .account-groups li:first-child a, #mega-menu .accounts li:first-child a, #mega-menu .accounts li:nth-child(6) a, #mega-menu .account-groups li:nth-child(6) a {
	margin-left: 0;
}
#mega-menu .account-groups a:hover, #mega-menu .account-groups a.active {
	color: #fff;
	background: #3db658;
	border: 0;
}
#mega-menu .account-groups a {
	margin-bottom: 10px;
}
#mega-menu .account-groups a, #mega-menu .accounts a {
	border: 0;
	width: 167px;
}
#mega-menu .all-accounts a {
	width: 23.8%;
	background: #fff;
	color: #282828 !important;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	display: block;
}
#mega-menu .accounts a:hover, #mega-menu .accounts a.active {
	background: #c5e9ce;
	border: 0;
}
#mega-menu .accounts h3, #mega-menu .accounts p {
	font-size: 14px;
	margin: 10px 0 0;
}
#mega-menu .accounts p {
	position: absolute;
	bottom: 10px;
}
#mega-menu .accounts a {
	height: 100px;
	margin-bottom: 15px;
	padding: 12px 15px 10px;
	position: relative;
}
#mega-menu .divider {
	margin: 5px 0 20px;
	background-color: #4b4b4b;
	height: 1px;
	overflow: hidden;
	display: list-item;
}
#mega-menu #filter-by {
	padding: 40px 40px;
	color: #fff;
}
#mega-menu li:hover>div, #mega-menu li .filter-out {
	display: block;
	height: auto;
}
.styled-select {
	display: inline;
}
.input-large {
	width: 210px;
}
.styled-select .arrow {
	display: inline;
}
#infoPanel {
	position: relative;
}
#infoPanel .panel {
	background-color: #fefcf0;
	width: 320px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	margin-left: -20px;
	padding: 25px 15px 15px 15px;
}
.validation-summary-valid {
	display: none;
}
#infoPanel input {
	width: 60px;
}
#infoPanel p {
	margin: 0 0 5px 0;
}
#infoPanel .date, #infoPanel .address {
	opacity: 0.8;
	filter: alpha(opacity=80);
	font-size: 0.95em;
}
#infoPanel h1 {
	text-transform: none;
	font-weight: normal;
	margin: 0 0 10px 0;
	font-size: 30px;
}
#infoPanel .amount {
	font-size: 30px;
	text-align: right;
	margin-top: 20px;
}
#infoPanel .balance-bar {
	margin: 10px 0 5px;
}
.balance-bar>div {
	width: 100%;
	margin-bottom: 10px;
}
#infoPanel .info-split {
	margin-bottom: 15px;
}
#infoPanel .categories .amount {
	font-size: 20px;
}
#infoPanel .info-split .amount {
	margin-top: 0px;
}
.hr {
	border-top: 1px solid #d3d3d3;
	margin: 20px 0;
	height: 1px;
}
.nav-grey, .nav-dark {
	list-style: none;
}
.nav-grey li, .nav-dark li {
	float: left;
}
.nav>li>a {
	display: block;
}
.nav-grey a, .nav-dark a {
	line-height: 1;
	background: #e7e7e7;
	padding: 14px 15px 12px;
	display: block;
	margin: 0 10px 10px 0;
}
.template {
	display: none;
}
#infoPanel .info-split {
	margin-bottom: 15px;
}
#infoPanel .info-split .center-label {
	line-height: 35px;
}
.styled-select select {
	height: 28px;
	line-height: 28px;
	color: #555;
	max-width: 100%;
}
.disabled:hover {
	cursor: not-allowed;
}
#mega-menu #filter-by h3 {
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 5px 0;
}
#filter-by .nav-tabs h3 {
	padding: 12px 8px 8px 0;
	margin-right: 20px;
}
#filter-by li a {
	background: transparent;
	color: rgba(255,255,255,0.8);
	padding: 12px;
	margin: 0 0 20px;
	border: 1px solid #282828;
	display: block;
	line-height: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
#filter-by .active a, #filter-by li a:hover {
	background: #e7e7e7;
	color: #282828;
	padding: 13px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
#formAmount {
	line-height: 40px;
}
.input-append, .input-prepend {
	white-space: static;
	display: inline-block;
	font-size: 1em;
	color: rgba(255,255,255,0.8);
}
.input-append, .input-prepend {
	margin-bottom: 5px;
	font-size: 0;
	white-space: nowrap;
}
.input-append .add-on, .input-prepend .add-on {
	background: #e7e7e7;
	color: #282828;
	line-height: 32px;
}
#filter-by .input-append input[type=text], #filter-by .input-prepend input[type=text] {
	width: 105px;
}
.input-append input[type=text], .input-prepend input[type=text] {
	padding: auto 5px;
	vertical-align: top;
	line-height: 28px;
}
.input-append .add-on, .input-prepend .add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	padding: 3px 5px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #fbfaf9;
	float: left;
	line-height: 28px;
}
#filter-by .nav-tabs {
	border-bottom: none;
}
#timeperiod .nav-pills a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	background: transparent;
	color: rgba(255,255,255,0.8);
	padding: 15px;
	margin: 1px 1px 1px 0;
	border: 0;
}
#timeperiod .nav-pills .active a, #timeperiod .nav-pills li:hover a {
	background: #3db658;
	color: #282828;
	border: 0;
}
#mega-menu #filter-by .reset-button {
	background: #3db658;
	position: relative;
	right: 190px;
	bottom: 0px;
	padding-top: 3px;
	color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#mega-menu #filter-by .reset-button:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#mega-menu #filter-by .search-button {
	position: relative;
	right: 54px;
	bottom: 0px;
	padding-top: 3px;
	color: white;
}
.category-group {
	margin-bottom: 5px;
}
.bot_radio .radio {
	margin-left: 20px;
}
.category-row .category {
	margin: 0 5px 5px 0;
}
.modal-body .account-details {
	position: relative;
}
/*===Link===*/

.link-back-small {
	margin-bottom: 10px;
}
.link-back {
	font-size: 14px;
	color: #3db658;
	display: block;
	padding: 10px 0;
	margin-bottom: 20px;
}
.strong {
	text-decoration: underline;
	color: #39b658;
}
.account-link #Search {
	width: 30%;
}
a.active {
	color: #009722;
}
.sort {
	margin-left: 10px;
	position: relative;
	bottom: 5px;
	top: 0;
}
.institution {
	margin-top: 30px;
}
.institution .row {
	margin-bottom: 20px;
}
.linked-account .card:nth-child(3n+1), .other-account .card:nth-child(3n+1), .institution .card:nth-child(3n+1) {
	margin-left: 0;
}
.browse .browse-next, .browse .browse-prev {
	margin-right: 20px;
	display: block;
	float: right;
}
.btn-grey {
	line-height: 1;
	background: #e7e7e7;
	padding: 14px 20px 12px;
	margin: 0 10px 10px 0;
}
.disabled {
	color: white;
}
.browse .browse-prev {
	margin-right: 20px;
	display: block;
	float: right
}
.disabled:hover {
	cursor: not-allowed
}
.btn-grey:hover, .btn-grey.active {
	background-color: #3db658;
	color: #fff;
}
.institution p {
	margin: 10px 0 30px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3
}
/*===Alerts===*/
#transactions .input-append input[type=number], #transactions .input-prepend input[type=number] {
	text-align: right;
	padding: 7px;
	width: 77%;
	border: 1px solid #ccc;
	border-left: none;
	font-size: 14px;
	color: #000;
}
#transactions .input-append, #transactions .input-prepend {
	display: block;
	margin-bottom: 0;
}
#transactions .input-append .add-on, #transactions .input-prepend .add-on {
	border: 1px solid #ccc;
	border-right: none;
	padding: 1px 5px;
}
#transactions select {
	border: 1px solid #ccc;
	padding: 7px 5px 6px;
	width: 100%;
}
#transactions td:last-child {
	text-align: right;
}
.pagination {
	display: none
}
/*===Adviser===*/

.search-adviser .input-append {
	margin-top: 0px;
	padding: 5px 0;
	background: #fff;
	border: 1px solid #ccc;
	float: left;
	width: 55%;
	display: inline-block;
}
.search-adviser .input-append input {
	width: 85%;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 5px 5px;
	color: #333;
	float: left;
}
.search-adviser .input-append input:focus {
	outline: none;
}
.search-adviser .input-append .glyphicon-search {
	width: 50px;
	background-color: #30b350;
	border: 1px solid #278b41;
	margin-right: 5px;
	color: #fff;
	text-shadow: none;
	line-height: 30px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.35);
	box-shadow: 0 0 2px rgba(0,0,0,0.35);
	float: right;
}
.search-adviser .invite-adviser .btn-green {
	padding: 15px;
	font-size: 20px;
	margin-right: 0;
}
.grey-area {
	background-color: #ebebec;
	margin-top: 3px;
}
.grey-area .my-adviser, .grey-area .my-report {
	padding: 40px 80px 0;
}
.grey-area h2 {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.grey-area .my-adviser .table {
	width: 100%;
	text-align: left;
}
.grey-area .my-adviser .table th:first-of-type, .grey-area .my-adviser .table td:first-of-type {
	padding-left: 40px;
	max-width: 200px;
	overflow-x: hidden;
}
.grey-area .my-adviser .table th {
	background-color: #e3e3e3;
	opacity: .5;
	font-weight: normal;
}
.grey-area .my-adviser .table td {
	background-color: #fff;
	border: none;
}
.grey-area .my-adviser .table .active-yes {
	background-color: #37b557;
}
.grey-area .my-adviser .table .active-yes, .grey-area .my-adviser .table .active-no {
	color: #fff;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.grey-area .my-report {
	padding-bottom: 20px;
}
.grey-area .my-report .table th {
	background-color: #e3e3e3;
	opacity: .5;
	font-weight: normal;
	text-align: center;
}
.grey-area .my-report .table td {
	font-family: "HattoriHanzoLight", "Helvetica Neue", Arial;
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding: 20px 0;
	border: 3px solid #fff;
	width: 25%;
}
.grey-area .my-report .table td:first-of-type {
	background: #ffb922;
}
.grey-area .my-report .table td:nth-of-type(2) {
	background: #e84c7b;
}
.grey-area .my-report .table td:nth-of-type(3) {
	background: #69c37d;
}
.grey-area .my-report .table td:last-of-type {
	background: #1a81e9;
}
.grey-area .my-adviser .table a {
	color: #37b557;
}
.my-adviser .pagination {
	display: none;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #3db658;
	border-color: #3db658;
}
.pagination>li>a, .pagination>li>span {
	color: #3db658;
}
/*===Clients===*/


.statusComplete {
	color: #37b557;
}
.table_mob {
	display: none;
	width: 100%;
}
/*Rules*/

.form-horizontal .control-group {
	margin-bottom: 28px;
}
.control-label {
	margin-bottom: 0;
}
.form-horizontal .inline {
	display: inline-block;
	margin-left: 20px;
}
.form-horizontal .controls .input-prepend {
	width: 40%;
}
.form-horizontal .controls .input-prepend input[type=number] {
	text-align: right;
	padding: 5px 1%;
	border: 1px solid #ccc;
	border-left: none;
	font-size: 14px;
	color: #000;
	width: 75%;
}
.form-horizontal .controls .input-append .add-on, .form-horizontal .controls .input-prepend .add-on {
	border: 1px solid #ccc;
	border-right: none;
	padding: 1px 5px;
}
.ruless h2 {
	font-size: 22px;
}
.btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3d3d3d;
	background-image: -moz-linear-gradient(top, #3d3d3d, #3d3d3d);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3d3d), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #3d3d3d, #3d3d3d);
	background-image: -o-linear-gradient(top, #3d3d3d, #3d3d3d);
	background-image: linear-gradient(to bottom, #3d3d3d, #3d3d3d);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d3d', endColorstr='#ff3d3d3d', GradientType=0);
	border-color: #3d3d3d #3d3d3d #171717;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
a.link {
	color: #009722;
}
 @media screen and (max-width:991px) {
#charts .col-md-6 {
	float: left;
}
.chart-canvas {
	display: inline-block;
	width: 95%;
	overflow: hidden;
}
.chart h2 {
	font-size: 22px;
}
.chart p {
	font-size: 16px;
}
#goals .col-md-6 {
	float: left;
}
.chart .amount {
	display: block;
}
#mega-menu .all-accounts a {
	width: 23.5%;
}
#infoPanel .panel {
	width: 100%;
	margin-left: 0
}
.search-adviser .input-append input {
	width: 320px;
}
}
 @media screen and (min-width:768px) and (max-width:991px) {
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.overview-title h1 {
	font-size: 26px
}
}
@media screen and (min-width:768px) and (max-width:800px) {
#goals .col-md-6 {
	float: left;
}
}
@media screen and (max-width:800px) {
.footer {
	text-align: center;
}
.footer .nav-pills>li {
	float: none;
	display: inline-block;
}
.footer .pull-right {
	float: none !important;
}
.powered {
	text-align: center;
	margin-top: 20px;
}
.overview-graph .b-month {
	font-size: 15px;
}
.overview-graph .amount {
	font-size: 94px;
}
.overview-graph .spent-number {
	font-size: 45px;
	line-height: 45px;
}
.overview-graph {
	height: 320px;
}
.balance-total {
	font-size: 24px;
}
.form-shift-down {
	font-size: 28px;
}
}
@media screen and (max-width:767px) {
#transactions .table tr th:nth-child(2), #transactions .table tr td:nth-child(2) {
	display: none;
}
#charts, #goals {
	text-align: center;
}
#charts h1, #goals h1 {
	text-align: left;
}
#charts .col-md-6 {
	width: auto;
	float: none !important;
	clear: both;
	display: inline-block;
	text-align: left;
	max-width: 100%;
}
#goals .col-md-6 {
	display: inline-block;
	width: 60%;
	float: none;
	text-align: center;
}
#charts .col-md-6:last-child, #goals .col-md-6:last-child {
	margin-left: 0;
}
#goals {
	margin-bottom: 20px;
}
.form-shift-down {
	font-size: 20px;
}
.form-horizontal .control-label, #form-authentication-login input[type="email"], #form-authentication-login input[type="password"] {
	font-size: 13px;
}
.form-horizontal .control-label {
	float: left;
	width: 50%;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .controls {
	margin-left: 52%;
}
.form-horizontal .form-actions {
	padding-left: 52%;
}
#infoPanelInner {
	display: none;
}
#mega-menu .all-accounts a {
	width: 23%;
}
input.col-md-5, textarea.col-md-5, .uneditable-input.col-md-5 {
	width: 100%;
}
.search-adviser .input-append input {
	width: 72%;
}
.search-adviser .invite-adviser .btn-green {
	padding: 15px 5px;
	font-size: 17px;
}
.grey-area .my-adviser, .grey-area .my-report {
	padding: 10px;
}
.grey-area .my-adviser .table th:first-of-type, .grey-area .my-adviser .table td:first-of-type {
	padding-left: 8px;
}
}
@media screen and (max-width:600px) {
#mega-menu .all-accounts a {
	width: 100%;
}
#mega-menu a {
	padding: 13px 10px 8px;
}
.non_mob {
	display: none;
}
.table_mob {
	display: block;
}
.table_mob tr {
	width: 100%;
	float: left;
}
.table_mob tr td, .table_mob tr th {
	width: 50%;
	float: left;
	margin-bottom: 10px
}
.grey-area .my-adviser .table_mob {
	width: 100%;
	text-align: left;
}
.grey-area .my-adviser .table_mob th {
	background-color: #e3e3e3;
	opacity: .5;
	font-weight: normal;
	padding: 10px;
}
.grey-area .my-adviser .table_mob td {
	background-color: #fff;
	border: none;
	padding: 10px;
}
.grey-area .my-adviser .table_mob .active-yes {
	background-color: #37b557;
}
.grey-area .my-adviser .table_mob .active-yes, .grey-area .my-adviser .table_mob .active-no {
	color: #fff;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.grey-area .my-report {
	padding-bottom: 20px;
}
.grey-area .my-report .table_mob th {
	background-color: #e3e3e3;
	opacity: .5;
	font-weight: normal;
	text-align: center;
	padding: 26px 0;
}
.grey-area .my-report .table_mob td {
	font-family: "HattoriHanzoLight", "Helvetica Neue", Arial;
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding: 5px;
	border: 3px solid #fff;
}
.grey-area .my-report .table_mob tr:first-of-type td:last-of-type {
	background: #ffb922;
}
.grey-area .my-report .table_mob tr:nth-of-type(2) td:last-of-type {
	background: #e84c7b;
}
.grey-area .my-report .table_mob tr:nth-of-type(3) td:last-of-type {
	background: #69c37d;
}
.grey-area .my-report .table_mob tr:last-of-type td:last-of-type {
	background: #1a81e9;
}
.grey-area .my-adviser .table_mob a {
	color: #37b557;
}
.search-adviser {
	text-align: center;
}
.search-adviser .input-append, .search-adviser .invite-adviser {
	float: none !important;
	display: inline-block;
	width: 80%;
}
.my-adviser .pagination {
	display: inline-block;
	margin: 5px 0 0;
	float: right;
}
.account-link #Search {
	width: 40%;
}
.overview-title h1 {
	font-size: 22px
}
#master .table_mob {
	border: 1px solid #d3d3d3
}
.table_mob .input-append input[type=number], .table_mob .input-prepend input[type=number] {
	text-align: right;
	width: 77% !important;
	border: 1px solid #ccc;
	border-left: none;
	font-size: 12px;
	color: #000;
}
.input-append .add-on, .input-prepend .add-on {
	border: 1px solid #d3d3d3;
	border-right: none;
	padding: 3px 5px;
	line-height: 13px;
}
.table_mob select {
	border: 1px solid #ccc;
	padding: 1px 5px 1px;
	width: 63%;
}
#master .pagination {
	float: right;
}
#master .table_mob th {
	color: #555555;
	padding: 5px 5px;
	margin-bottom: 0px;
	background-color: #F8F7F7
}
#master .table_mob td {;
	padding: 4px 5px;
	margin-bottom: 0px
}
#master .table_mob tr {
	color: #555555;
	border-bottom: 1px solid #d3d3d3
}
#master .input-append, .input-prepend {
	margin-bottom: 0
}
.non-input {
	margin-top: 2px
}
.pagination {
	display: block
}
.form-horizontal .controls .input-append .add-on, .form-horizontal .controls .input-prepend .add-on {
	padding: 9px 5px 8px;
}
}
 @media screen and (max-width:480px) {
#mega-menu a {
	width: 100%;
}
#mega-menu li {
	width: 100%;
	margin-bottom: 10px;
}
#transactions-table {
	display: inline-block;
}
.search {
	margin: 0;
	width: 100%;
}
#mega-menu #filter-by {
	padding: 15px;
}
#mega-menu li {
	margin-bottom: 5px;
}
#filter-by li a {
	padding: 5px;
	margin-bottom: 5px;
}
#mega-menu a {
	height: auto;
}
.nav-tabs-other {
	width: 100%;
}
#filter-by .active a, #filter-by li a:hover {
	padding: 5px;
}
.overview-graph .amount {
	font-size: 60px;
	line-height: 60px;
}
.overview-graph {
	height: 240px;
}
.overview-graph .spent-number {
	font-size: 24px;
	line-height: 24px;
}
.overview-graph .b-days-left, .overview-graph .spent-label {
	font-size: 14px;
}
.search-adviser .invite-adviser .btn-green {
	font-size: 14px;
	padding: 15px 5px;
}
.overview-title h1 {
	font-size: 16px;
	font-weight: 900
}
#goals .col-md-6 {
	width: 100%;
}
.card {
	width: 100%;
	text-align: center
}
.account-link #Search {
	width: 100%;
}
.sort {
	margin: 5px 5px 0 0;
}
.mny_trac th:nth-child(2) {
	display: none
}
.mny_trac td:nth-child(2) {
	display: none
}
}
@media screen and (max-width:384px) {
.navbar-brand {
	width: 80%;
}
.navbar-brand img {
	max-width: 100%;
}
.footer .nav-pills>li {
	float: none;
	display: block;
}
.overview-graph .b-month, .overview-graph .b-days-left, .overview-graph .spent-label {
	font-size: 12px;
}
.bar {
	margin-right: 2px;
}
h1 {
	font-size: 24px;
}
.dl-horizontal dt {
	width: 45%;
}
.dl-horizontal dd {
	margin-left: 47%;
}
.chart .pull-left {
	width: 100%;
}
.form-horizontal .control-label {
	width: 100%;
	text-align: left;
}
.form-horizontal .controls {
	margin-left: 0;
}
.form-horizontal .form-actions {
	padding-left: 0;
}
#form-authentication-login input[type="email"], #form-authentication-login input[type="password"] {
	width: 100%;
}
.control-label {
	width: auto !important;
}
#form-authentication-login input[type="checkbox"] {
	margin-left: 5px;
}
}
@media screen and (max-width:320px) {
.current-balance p:last-child {
	font-size: 16px;
}
.overview-graph .b-month, .overview-graph .b-days-left, .overview-graph .spent-label {
	font-size: 9px;
}
h1 {
	font-size: 22px;
}
}
